<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue js Минин</title>
</head>
<body>
	
<div id="app">
	
	<!-- <h2 v-if="type === 'a'">A</h2>
	<h2 v-else-if="type === 'b'">B</h2>
	<h2 v-else-if="type === 'c'">C</h2>
	<h2 v-else>not match</h2>

	<hr> -->

	<template v-if="isVisible">
		<h2>I am title</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quas!</p>
	</template>
	
	<template v-else="isVisible">
		<h2 style="color: red">I am title 2</h2>
		<p style="color: blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quidem?</p>
	</template>


</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script>

		new Vue({
			el: '#app',
			data: {
				// type: 'a'
				isVisible: true
			}
			



		})

	</script>

</body>
</html>