<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue js Минин</title>
</head>
<body>
	
<div id="app">
	
	<ul>
		<li v-for="(person, index) of people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
		</ul>

	<hr>

	<ol>
		<li v-for="num of 5">{{ num }}</li>
	</ol>

	<hr>

	<ul>
		<li v-for="(value, key, index) in person"><em>{{ index + 1 }} </em><b>{{ key }}</b> {{ value }}</li>
	</ul>

</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script>

		new Vue({
			el: '#app',
			data: {
				people: [
					{name: 'Vlad', age: 20},
					{name: 'Max', age: 21},
					{name: 'Elena', age: 25},
					{name: 'Volodya', age: 23}
				],
				person: {
					name: 'Max',
					age: 39,
					job: 'Frontend'
				}
			}
			



		})

	</script>

</body>
</html>